
ModelSimWork/work/*
ModelSimWork/src/*
ModelSimWork/transcript
ModelSimWork/vsim.wlf
ModelSimWork/vlog.opt

QuartusWork/*

.vscode/
__pycache__/

dump.out
modelsim_compile.log
student_result.out
student_MARSdump.out

temp/*
QuartusWork/*

~*.docx
*.pyc
